.nav_Style {
  display: flex;
  flex-direction: row;
  background-color: #d62828;
  padding: 1rem;
  gap: 70%;
  color: white;
}
.nav_Style > label {
  font-family: cursive;
  font-size: 2rem;
  font-weight: bold;
}
.nav_Style a {
  text-decoration: none;
  color: white;
}
.total_Count {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 1rem; */
  font-family: cursive;
  gap: 15%;
}
.total_Count > a {
  text-decoration: underline;
  font-size: 1rem;
}
